@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Inter, system-ui, sans-serif;
  background: #03070c;
}

#root {
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}